.input-group-text {
    height: 38px;
    /* Asegúrate de que esto coincida con la altura de tus campos de entrada */
}

.form-control {
    height: 38px;
    /* Ajusta esto según sea necesario para que coincida con la altura de tus íconos */
}

/* Asegúrate de que no haya ningún color de fondo y de que los enlaces sean negros */
.navbar {
    background-color: transparent;
    margin-top: 20px;
    /* O el margen superior que desees */
}

/* Cambia el color de los enlaces a negro y establece el subrayado al hacer hover */
.navbar-light .navbar-nav .nav-link {
    color: black !important;
    /* Forzar el color de texto a negro */
    transition: border-bottom 0.3s;
    /* Transición suave para el subrayado */
    text-decoration: none;
    /* Remover el subrayado por defecto */
}

/* Añade un subrayado al pasar el ratón por encima */
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    /* Agrega :focus para mantener el subrayado cuando está seleccionado */
    text-decoration: underline !important;
    /* Forzar el subrayado al hacer hover */
    text-decoration-color: black !important;
    /* El color del subrayado es negro */
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}
.custom-rounded {
    border-radius: 30px; /* Ajusta este valor para controlar el redondeo */
}
.d-flex button {
    margin-right: 10px; /* Ajustar según sea necesario */
}